
.container{
    padding: 15px 15px 15px 50px ;
    margin: auto;
    border: 3px solid black;
    width: fit-content;
    display: flex;
}
.formContainer{
    display: flex;
    margin-top: 20px;
}
.labelPart1,.labelPart2{
    display: flex;
    flex-direction: column;   
}
.Accounts{
    display: flex;
    border: 1px solid black;
    padding: 20px;
}
.inputPart1,.inputPart2{
    display: flex;
    flex-direction: column;
   
}
.inputPart1 input,.inputPart2 input{
    margin: 0px 20px 15px 10px;
    
}
.labelPart1 label,.labelPart2 label{
    margin: 0px 20px 10px 10px;
}
input{
    width: 220px;
}
