
.container{
    width: fit-content;
    margin:auto;
    padding: 20px 20px 6px 60px;
    border: 1px solid rgb(34, 255, 0);
}
.formContainer{
  display: flex;  
  justify-content: space-evenly;  
  margin-bottom: 10px;
}
.inputPart1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.labelPart1{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
} 
.labelPart1 label,
.labelPart2 label,
.labelPart3 label{
    font-size: 12px; 
    width: 100px;
}
.labelPart2{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.labelPart1 label{
    margin-bottom: 6px;
}

.picture{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
} 

table{
    width: 100%;
    text-align: center;
}
.withdrow{
    color: red;
}


 