.container{
    display: flex;
    justify-content: space-evenly; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.box{
    border-radius:20px;
    box-shadow: 0 0.7rem 1.6rem rgba(29, 158, 238, 0.16);
    width: 250px;
    height: 150px;
    position: relative;
    display: flex;
    border: 1px dashed white;
}
.box div{
    margin-left: 15px;
    margin-top: 20px;
}
.box span{
    margin-left: 20px;
    font-size: 70px;  
}

