
.container{
    width: fit-content;
    margin:auto;
    padding: 20px 20px 30px 60px;
    border: 1px solid rgb(34, 255, 0);;  
}
.formContainer{
  display: flex;  
  justify-content: space-evenly;  
}
.inputPart1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.labelPart1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}
.inputPart2{
    display:flex;
    flex-direction: column;
     justify-content: space-between;
} 
.labelPart1 label,
.labelPart2 label,
.labelPart3 label{
    font-size: 12px; 
    width: 100px;

}
.labelPart2{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.labelPart3{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.labelPart2 label{
    margin-bottom: 25px;
}
.inputPart2 textarea{
    border: 1px solid black;
    width: 220px; 
}  
.labelPart3 label,
.inputPart3 input{
    margin-bottom: 10px;
    
} 
.picture{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
input[type="password"]{
    height: 20px;
}
input[type="email"]{
    height: 20px;
    
}
table{
    width: 100%;
    text-align: center;
}


 