.searchContainer{
        width: fit-content;
        margin:auto;
        padding: 0px 20px 6px 60px;
        border: 1px solid rgb(34, 255, 0);    
}
.formContain{
    display: flex;
}
.labelPart{
    display: flex;
    flex-direction: column;
}
.labelPart label{
    font-size:15px;
}
.inputPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}
span{
    cursor: pointer;
    margin-left: 325px;
   font-size: 25px;
}
