.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  padding-top: 10px;
  height: 60px;
  padding-right: 20px;
  position: sticky;
  background-color: #fff;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav a:link,
.nav a:visited {
  text-decoration: none;
  /* color: var(--color-light--2);  */
  color: rgb(84, 84, 84);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav li.active a {
  color: red;
}
.nav li a {
  color: black;
  transition: color 0.3s ease;
}
.nav li.active a {
  color: red; /* New default color for inactive links */
  transform: scale(1.05); /* Scale the link up to make it more prominent */
  background-color: red;
}
.nav a:hover {
  color: aqua;
}
.active {
  color: red;
  font-weight: bold;
}
.cli {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 6px;
}
svg {
  /* color: aqua; */
}
