
.contain{
    margin: 150px auto;
    padding: 60px 30px;
    width: fit-content;
    border: 2px double white;
    width: fit-content;
    border-radius: 20px;
    }
.FormContainer{
    display: flex;
        
}
.inputSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.labelSection{
    display: flex;
    flex-direction: column;
    /* margin: 10px 10px 10px 0px; */
    margin-right: 20px;
    justify-content: space-between;
}

